@import "variables";


.key-words
{
    color: $keywords;
    font-weight: 600;
}

//first-section

.section-concepts-of-information
{
    width: 100%;
    min-width: 800px;
    height: 500px;
    padding: 60px;
   
    .concepts-of-information-container
    {
        width: 100%;
        height: 100%;
       
        
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 120px);

        

        .concepts-of-information-icon
        {
            width: 100px;
            height: 100px;
        }

        
    }
}

.concepts-of-information-item
{
    font-family: $primary-font;
    font-size: 1.5rem;
}

.concepts-of-information-item--two
{
    padding: 20px;
}

.concepts-of-information-item--three
{
    grid-area: 1/3/3/3 ;
    width: 180px;
    justify-self: right;
    /*background-color: #dcdde2;*/
    position: relative;

    .concepts-of-information-item-three-img
    {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -60px;
        left: -70px;
    }

    .concepts-of-information-item-three-img img
    {   
        
        width: 100%;
        height: 100%;
    }
}


.concepts-of-information-item--Four
{
    grid-area: 3/1/3/4 ;
    background-color: #eaecf3;
}






//SECOND SECTION

.section-code-binary
{
    width: 100%;
    min-width: 800px;
    height: 410px;
    padding: 60px;
    

    .code-binary-container
    {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        

        .code-binary-column
        {
             width: 350px;
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             align-items: center;
             font-size: 1.5rem;
             font-family: $primary-font;
             
                
        }

        .code-binary-paragraph-container
        {
            padding: 20px;
        }



    }

    
   
}



.code-binary-column__left
{
    position: relative;

    .code-binary-paragraph-container--colunm-left
    {
        background-color: $neutral-color;
        width: 200px;
        height: 200px;
    }

    
    

}

.code-binary-column__left div:nth-child(2)
{

        width: 180px;
        padding: 20px;
        background-color: rgb(243, 243, 243);
        position: absolute;
        top: 150px;
        left: 70px;

}





.code-binary-column__center
{

    .code-binary-img-container--colunm-center
    {
        width: 200px;
        height: 200px;
    }

    .code-binary-img-container--colunm-center img
    {
        width: 100%;
        height: 100%;
    }
}

.code-binary-column__right
{
    .code-binary-img-container--colunm-right
    {
        width: 170px;
        height: 200px;
        margin-left: 40px;
        /*padding: 0 0 0 30px;*/
        
    }

    .code-binary-img-container--colunm-right img
    {
        width: 100%;
        height: 100%;
    }
}





//SECTION THREE

.section-how-work-binary
{
    width: 100%;
    min-width: 800px;
    height: 600px;
    padding: 90px 60px 0 ;

    .how-work-binary-container
    {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .how-work-binary-info-container
    {
        
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        font-family: $primary-font;
        font-size: 1.5rem;
        p{}
    }

    .how-work-binary-column
    {
        font-size: 1.5rem;
        font-family: $primary-font;
        padding: 40px;
    }
}

.how-work-binary-container-column--left
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;
    

    .how-work-binary-img-container--culumn-left
    {
       

    }

    .how-work-binary-img-container--culumn-left img
    {

    }
}

//390 width
//600 heigt 

.how-work-binary-container-column--right
{
    width: 60%;
    height: 100%;

    .how-work-binary-interactive-chat
    {
        padding: 10px;
        width: 100%;
        height: 100%;

        .interactive-chat-screen
        {   
            width: 100%;
            height: 90%;
            overflow-y: auto;
            
            
            scroll-behavior: smooth;
            /*display: flex;*/
            border-top: 1.8px solid  #cecece;

            .reel
            {
               
                flex-direction: column;
               
                width: 50%;
                height: 100%;
                /*display: inline-block;*/
                display: flex;
                
              
                
            }

                .reel--left
                {   
                   float: left;
                }
    
                .reel--right
                {
                    
                 
                }

           
        }


        .interactive-chat-inputs-container{ 

            width: 100%;
            height: 10%;
            display: flex;
            

            .interactive-chat__input-type
            {   
                width: 80%;
                display: flex;
                align-items: center;
               

            }

            .interactive-chat__input-type input
            {   
                width: 100%;
                height: 30px;
                padding: 0 20px;
                border-radius: 10px;
                border: none;
                outline: none;
                background-color: $neutral-color;
                font-family: $primary-font;


            }

            .interactive-chat__button-send
            {
                width: 20%;
                text-align: center;
               
                .input-to-send{
                    width: 40px;
                    height: 40px;
                    border: none;
                    border-radius: 30px;
                    outline: none;
                    cursor: pointer;
                }
            }

            .interactive-chat__button-send span     //input
            {   
                display: inline-block;
                width: 100%;
                height: 100%;
                //background-color: #57595f;
                background-image: url("/Assets/telegramIconColor.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
               
                

            }
        }

    }

}